/* global stuff */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 22px;
  color: black;
  text-align: center;
  background: white;
  overflow: hidden;
  margin: 0;
}

/* 3d parallax */

#viewport {
  -webkit-perspective: 100px;
  -moz-perspective: 100px;
  -ms-perspective: 100px;
  -o-perspective: 100px;
  perspective: 100px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: #eee;
}

#viewport.dark {
  background: #252525;
}

.title, .subtitle, #ground {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.sky_bg {
  background: #888 url('images/portfolio_sky.jpg') center top no-repeat;
  background-size: cover;
  width: 100vw;
  height: 65%;
  position: absolute;
  top: 15vh;

  -webkit-transform: translate3d(0, 0, -100px) scale(2);
  -moz-transform: translate3d(0, 0, -100px) scale(2);
  -ms-transform: translate3d(0, 0, -100px) scale(2);
  -o-transform: translate3d(0, 0, -100px) scale(2);
  transform: translate3d(0, 0, -100px) scale(2);

  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
}

#ground {
  background: #eee;
  position: absolute;
  top: 65%;
  min-height: calc(100vh - 65%);
  width: 100%;
  opacity: 1;
  overflow: visible;
}

.short #ground {
  top: 40%;
  min-height: calc(100vh - 40%);
}

.short .sky_bg {
  height: 40.5%;
  top: -10vh;
}

#ground.overlap, #ground.post {
  top: 200px;
  min-height: calc(100vh - 200px);
}

#ground.overlap > div {
  margin-top: -50px;
}

#ground.project_desc {
  background-color: white;
}

.dark #ground {
  background-color: #252525;
  color: white;
}

a {
  color: #1274C5;
  transition: all 0.2s;
}

a:visited {
  color: #905BD2;
}

a:hover {
  color: #5E99CA;
}

.dark a {
  color: #ccc;
}

.dark a:visited {
  color: #aaa;
}

.dark a:hover {
  color: white;
}

h1, .subtitle, .teaser {
  font-weight: 300;
}

.title {
  font-size: 72px;
  margin: 0;
  color: white;
  position: relative;
  top: -60px;
  line-height: 72px;
}

.subtitle {
  font-size: 24px;
  position: relative;
  top: -50px;
  line-height: 24px;
  color: #6282A4;
  margin: 0;
}

/* navigation */

.nav {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 40px 40px 80px;
  font-weight: 300;
  transition: background-color 0.5s, height 0.5s, padding 0.5s;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
  box-shadow: 0 -7px 9px 5px rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  /* for our dear friend ie9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C000000', endColorstr='#00000000')";
}

.nav.compact {
  padding: 10px 10px 10px 20px;
  background-color: rgba(0,0,0,.5);

}

.nav.fixed {
  background-color: black;
}

.nav .subheading {
  display: block;
  opacity: 0.7;
  font-size: 14px;
  margin: 0;
  text-align: left;
  line-height: 14px;
}

.logo {
  float: left;
  margin: 0;
  line-height: 32px;
  font-size: 24px;
  text-align: left;
  color: white;
}

img.logo {
  margin-right: 10px;
  border: 0;
}

.nav > ul {
  list-style: none;
  font-size: 18px;
  float: right;
  padding: 0;
  margin: 0;
}

.nav > ul > li {
  line-height: 48px;
  float: left;
  padding: 0 10px 0;
}


.nav > ul > li > a, .nav > ul > li > span {
  color: white;
  text-decoration: none;
  opacity: 1;
  transition: all 0.5s;
  padding: 11px 19px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.nav > ul > li > a:hover {
  border: 1px solid rgba(255,255,255,0.3);
}

.nav > ul > li > a:visited {
  color: white;
}

.nav > ul > li > span {
  background-color: rgba(255,255,255,0.25);
}

@media all and (max-width: 600px) {
  .nav, .nav.compact {
    padding: 10px 10px 10px 10px;
  }
}

@media all and (max-width: 545px) {
  .nav > ul > li {
    padding: 0 1px 0;
  }

  .nav > ul > li > a, .nav > ul > li > span {
    padding: 11px 10px;
  }
}

@media all and (max-width: 435px) {
  h1.logo {
    display: none;
  }
}

/* landing page project cards / post cards */

.cards {
  margin: 5ex auto;
}

.card {
  border-radius: 5px 5px 2px 2px;
  background: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  width: 512px;
  height: 417px;
  margin: 0 1% 2ex;
  text-align: left;
  display: inline-block;
  text-decoration: none;
  color: black;
  transition: all 0.2s;
  position: relative;
  vertical-align: top;
}

.card:hover {
  background-color: #1274C5;
  color: white;
}

.card:focus {
  outline: none;
  box-shadow: 0 0 0 2px #1274C5;
}

.card > p {
  font-size: 16px;
  margin: 10px 20px;
  color: black;
  opacity: 0.6;
  transition: all 0.2s;
}

.card:hover > p {
  color: white;
}

.card .fake_link {
  line-height: 17px;
  color: #1274C5;
  display: block;
  height: 17px;
  border-bottom: 1px solid transparent;
  transition: all 0.2s;
  position: absolute;
  bottom: 15px;
  left: 0;
  opacity: 1;
}

.card:hover .fake_link {
  border-bottom: 1px solid white;
  color: white;
}

.card > img {
  border-radius: 2px 2px 0 0;
}

.card .post_thumb {
  background-size: cover;
  width: 100%;
  height: 250px;
  border-radius: 2px 2px 0 0;
}

.card > h3 {
  font-weight: 300;
  font-size: 22px;
  margin: 10px 20px;
  color: black;
  transition: color 0.2s;
}

.card:hover > h3 {
  color: white;
}

.card > a {
  margin: 10px 20px;
  font-size: 16px;
}
.card:focus {
  outline: none;
  box-shadow: 0 0 0 2px #1274C5;
}

@media (max-width: 525px) {
  .card {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
  }

  .card > img {
    width: 100%;
    height: auto;
  }
}

/* about page contact cards */

.contact_info {
  margin: 2em 0;
  text-align: center;
}

.contact_info > h3 {
  font-size: 16px;
  margin-top: 2em;
  margin-bottom: 0;
  color: #666;
}

.contact, .contact:visited, .social, .social:visited {
  text-decoration: none;
  margin: 5px;
  display: inline-block;
  border-radius: 3px;
}

.contact .site-icon {
  margin-right: 5px;
}

.contact, .contact:visited {
  color: #1274C5;
  border: 1px solid #ddd;
  background-color: white;
  padding: 15px;
}

.contact:hover {
  background: #1274C5;
  color: white;
  border: 1px solid #1274C5;
}

.social, .social:visited {
  width: 100px;
  color: #666;
  padding: 15px 5px;
}

.social:hover {
  background: #ddd;
  color: #666;
}

.social > span {
  display: block;
  line-height: 30px;
}

@media all and (max-width: 600px) {
  .contact {
      width: 90%;
  }
}

/* main page extras */

.main_page_footer {
  font-size: 80%;
  max-width: 575px;
  margin: 0 auto 5ex;
}

.main_page_footer > h3 {
  margin-bottom: 1ex;
}

.main_page_footer > small {
  color: #666;
}

/* project pages */

.project_title {
  font-size: 7vw;
  margin: 20px auto;
  font-weight: 300;
}

.section {
  text-align: center;
  line-height: 140%;
  margin: 0 auto 4em auto;
  font-weight: 300;
}

.section:last-of-type {
  margin-bottom: 2em;
}

.project_desc > .project_subtitle {
  margin: 4ex auto 6ex;
  color: #666;
  font-weight: 300;
  max-width: 800px;
  padding: 10px;
}

.dark .project_subtitle {
  color: #ccc;
}

.project_desc small {
  max-width: 600px;
  display: block;
  line-height: 120%;
  margin: 0.2em auto;
  color: #666;
}

.dark small {
  color: #ccc;
}

blockquote {
  font-weight: 300;
  max-width: 485px;
  font-size: 26px;
  line-height: 170%;
  margin: 2em auto 2em;
  position: relative;
}

blockquote:before, blockquote:after {
  font-size: 200px;
  font-family: "Times New Roman", Times, sans-serif;
  opacity: 0.2;
  position: absolute;
}

blockquote:before {
  content: '\201c';
  left: 0;
}

blockquote:after {
  content: '\201d';
  right: 0;
}

blockquote, blockquote a {
  text-decoration: none;
  color: #00A008;
}

blockquote b {
  font-size: 130%;
}

blockquote .attribution {
  font-size: 14px;
  line-height: normal;
}

.cols {
  display: table;
}

.cols > div {
  display: table-cell;
  vertical-align: middle;
}

.cols.row_of_pics > div {
  vertical-align: top;
}

.row_of_pics small {
  text-align: left;
  font-size: 16px;
}

.row_of_pics .screenshot {
  margin: 0 10px;
}

.left_pic .pic_desc {
  max-width: 400px;
  font-weight: 300;
  line-height: 140%;
  text-align: left;
  padding-left: 20px;
  font-size: 18px
}

.project_desc .screenshot {
  border-radius: 4px;
  border: 4px solid black;
}

@media (max-width: 980px) {
  .project_desc img {
    max-width: 100%;
    height: auto;
  }

  .cols {
    display: block;
  }

  .project_desc img.screenshot {
    border: 0;
    border-radius: 0;
  }

  .cols > div {
    display: block;
  }

  .cols.left_pic .pic_desc {
    text-align: center;
    padding: 10px;
    margin: 0 auto;
  }

  .row_of_pics .screenshot {
    margin: 25px 0 0 0;
  }
}

/* blog page */

.post_content {
  font-size: 75%;
}

.post > h2 {
  color: white;
  font-weight: 300;
  padding: 0 60px;
  margin: 0;
  position: absolute;
  width: 100%;
  top: -10px;
  -webkit-transform: translate(0, -100%);
  -moz-transform:    translate(0, -100%);
  -ms-transform:     translate(0, -100%);
  -o-transform:      translate(0, -100%);
  transform:         translate(0, -100%);
}

.meta {
  color: #666;
  font-size: 80%;
}

.post_content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  max-width: 100%;
  height: auto;
}

.post_content, .footnotes {
  width: 780px;
  text-align: left;
  margin: 0 auto;
  padding: 10px;
}

.post_content p, .post_content ul {
  font-family: Merriweather, Georgia, Serif;
  line-height: 160%;
}

.post_content p {
  margin-bottom: 1em;
}

sup {
  line-height: 1em;
}

sup a {
  text-decoration: none;
}

code {
  font-family: Consolas, Menlo, Monaco, "Lucida Console", monospace;
  font-weight: bold;
}

pre > code {
  font-weight: normal;
  font-size: 14px;
  white-space: pre;
  background-color: white;
  border-radius: 5px;
  display: block;
  padding: 10px;
}

.caption {
  text-align: center;
  font-size: 80%;
  display: block;
}

.footnotes {
  font-size: 14px;
  word-wrap: break-word;
}

.footnotes li p {
  margin: 0.2em;
}

.reversefootnote {
  text-decoration: none;
}

@media (max-width: 800px) {
  .post_content, .footnotes {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .post > h2 {
    padding: 0;
    font-size: 28px;
  }
}

/* footer project navigation */
#nav_footer {
  position: absolute;
  width: 70%;
  bottom: 0;
  left: 50%;
  margin-left: -35%;
  background-color: rgba(0,0,0,0.7);
  height: 120px;
  border-radius: 5px 5px 0 0;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -moz-transform:    translateY(100%);
  -ms-transform:     translateY(100%);
  -o-transform:      translateY(100%);
  transform:         translateY(100%);
}

#nav_footer.visible {
  -webkit-transform: translateY(0);
  -moz-transform:    translateY(0);
  -ms-transform:     translateY(0);
  -o-transform:      translateY(0);
  transform:         translateY(0);
  opacity: 1;
}

#nav_footer.narrow {
  width: 300px;
  margin-left: -150px;
}

.narrow #contact_minibox {
  left: 10px;
  right: 10px;
}

#nav_footer .nav_footer_button, #nav_footer .nav_footer_button:visited {
  display: block;
  position: absolute;
  text-decoration: none;
  border-radius: 3px;
  font-size: 16px;
  color: white;
  background-color: #175D96;
  height: 80px;
  bottom: 20px;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  width: 300px;
}

#nav_footer .nav_footer_button:hover {
  background-color: #1274C5;
}

.nav_footer_button > div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform:    translateY(-50%);
  -ms-transform:     translateY(-50%);
  -o-transform:      translateY(-50%);
  transform:         translateY(-50%);
}

.nav_footer_button .label {
  opacity: 0.5;
}

.nav_footer_button .name {
  font-weight: bold;
}

#prev_proj {
  text-align: left;
  left: -80px;
  padding-left: 70px;
  padding-right: 10px;
}

#next_proj {
  text-align: right;
  right: -80px;
  padding-right: 70px;
  padding-left: 10px;
}

#prev_proj:before, #next_proj:before {
  position: absolute;
  font-family: FontAwesome;
  top: 7px;
  font-size: 64px;
}

#prev_proj:before {
  left: 16px;
  content: '\f100';
}

#next_proj:before {
  right: 16px;
  content: '\f101';
}

#contact_minibox {
  color: white;
  position: absolute;
  top: 20px;
  left: 230px;
  right: 230px;
}

#contact_minibox .byline {
  opacity: 0.5;
  font-size: 12px;
}

#contact_minibox .contact {
  border: 0;
  font-size: 16px;
  width: 100%;
  max-width: 220px;
  background-color: rgba(255,255,255,.25);
  color: white;
  padding: 8px;
  margin: 8px 0 4px;
}

#contact_minibox .contact:hover {
  background-color: rgba(255,255,255,.35);
}

.social_icons a {
  color: #888;
  padding: 0 5px;
  font-size: 24px;
  text-decoration: none;
}

.social_icons a:hover {
  color: #ddd;
}

/* responsive mode */
@media all and (max-width: 900px) {
  #nav_footer {
    width: 80%;
    margin-left: -40%;
  }
}

@media all and (max-width: 780px) {
  #nav_footer:not(.narrow) {
    height: auto;
    width: 100%;
    margin-left: -50%;
    border-radius: 0;
  }

  #nav_footer:not(.narrow) .nav_footer_button,
  #nav_footer:not(.narrow) .nav_footer_button:visited,
  #nav_footer:not(.narrow) #contact_minibox {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 10px;
  }

  #contact_minibox .contact {
    max-width: none;
    width: 90%;
  }

}
