---
---

// start

@import 'material-colors';
@import 'material-shadows';
@import 'material-typography';

$material-primary-color: $material-blue-grey-500;
$material-accent-color: $material-amber-a400;

/* global stuff */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  box-sizing: content-box;
}

body {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  color: black;
  background: $material-grey-200;
  text-align: center;
  margin: 0;
  margin-top: 220px;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $material-indigo-a700;
}

a:hover {
  text-decoration: underline;
}

/* navigation */

.nav {
  color: white;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  position: fixed;
  height: 192px;
  border-bottom: 11px transparent solid;
  transition: background-color 0.5s;
  background-color: $material-blue-grey-600;
  // background-color: $material-teal-500;
  // background-color: $material-indigo-800;
  // background: url('/projects/jga/jga_sky.jpg');
  
  &::after {
    position: absolute;
    bottom: -11px;
    top: 0;
    content: "";
    left: -5px;
    right: -5px;
    pointer-events: none;
    @include shadow-elevation-4dp;
  }
  
  .lower-area {
    position: absolute;
    pointer-events: none;
    bottom: -11px;
    display: flex;
    justify-content: center;
    height: 108px;
    flex-direction: column;
    text-align: left;

    h1, p {
      margin: 0;
      line-height: 1.3;
    } 

    h1 {
      margin-bottom: 5px;
    }

    p {
      opacity: $material-light-secondary-opacity;
    }
  }

  .banner-image {
    position: absolute;
    background-size: cover;
    bottom: -11px;
    height: 196px;
    width: 100%;
    z-index: -1;
  }

  .banner-image::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
  }
}

h1.logo {
  text-align: left;
  font-size: 34px;
  font-weight: 400;
  color: white;
  transition: opacity 0.2s;
  margin: 0;
}

.logo .subheading {
  display: block;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.logo {
  float: left;
  margin: 4px 0;
  border: 0;
}

a.logo {
  color: inherit;
  display: block;
  margin: 0;
  text-decoration: none;
  text-align: left;
  
  i {
    line-height: 64px;
    height: 64px;
    width: 50px;
    text-align: left;
  }

  span {
    font-size: 20px;
    font-weight: 500;
    position: relative;
    top: -5px;
    opacity: 0;
  }
}

.central-col {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

.nav-contents {
    padding: 20px 0;
}

.nav-contents > ul {
  list-style: none;
  font-size: 18px;
  float: right;
  padding: 0;
  margin: 0;
}

.nav-contents > ul > li {
  line-height: 64px;
  float: left;
}


.nav-contents > ul > li > a {
  color: inherit;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  opacity: 1;
  transition: all 0.5s;
  padding: 0 20px;
  display: block;
  height: 64px;
  opacity: 0.8;

  &.current {
    border-bottom: 2px solid white;
    opacity: 1;
  }
}

.nav-contents > ul > li > a:visited {
  color: inherit;
}

/* landing page project cards / post cards */

.cards {

  > h2 {
    text-align: left;
    text-transform: uppercase;
    font-weight: 500;
    color: $material-indigo-500;
    font-size: 14px;
    padding-bottom: 10px;
  }
}

.card {
  border-radius: 2px;
  background: white;
  @include shadow-elevation-3dp;
}

.project-card {
  height: 300px;
  text-align: left;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: all 0.2s;  
  padding-right: 20px;
  margin-bottom: 30px;
}

.project-card:hover {
  @include shadow-elevation-6dp;
  text-decoration: none;
}

.project-card .thumb {
  background-size: cover;
  flex: 10;
  height: 100%;
  border-radius: 2px 0 0 2px;
  position: relative;
} 

.project-card .thumb::after {
  content: '';
  position: absolute;
  right: -50px;
  height: 100%;
  width: 90px;
  background-color: white;
  transform: skewX(-10deg);
}

.project-card .desc {
  flex: 9;
  position: relative;
  display: flex;
  flex-direction: column;
}

.project-card h3 {
  font-size: 26px;
  line-height: 1;
  margin: 0 0 22px;
  color: inherit;
  transition: color 0.2s;
}

.project-card p {
  font-size: 16px;
  margin: 0;
  color: inherit;
  opacity: $material-light-secondary-opacity;
  transition: all 0.2s;
}

.project-card br {
  line-height: 200%;
}

.project-card a {
  margin: 10px 20px;
  font-size: 16px;
}

/* about page contact cards */

.contact_info {
  margin: 2em 0;
  text-align: center;
}

.contact_info > h3 {
  font-size: 16px;
  margin-top: 2em;
  margin-bottom: 0;
  color: #666;
}

.contact, .contact:visited, .social, .social:visited {
  text-decoration: none;
  margin: 5px;
  display: inline-block;
  border-radius: 3px;
}

.contact .site-icon {
  margin-right: 5px;
}

.contact, .contact:visited {
  color: #1274C5;
  background-color: white;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.contact:hover {
  color: #1274C5;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.social, .social:visited {
  width: 100px;
  color: #666;
  padding: 15px 5px;
}

.social:hover {
  background: #ddd;
  color: #666;
}

.social > span {
  display: block;
  line-height: 30px;
}

@media all and (max-width: 600px) {
  .contact {
      width: 90%;
  }
}

/* main page extras */

.main_page_footer {
  max-width: 575px;
  margin: 0 auto 40px;
}

.main_page_footer > h3 {
  margin-bottom: 1ex;
}

.main_page_footer > small {
  color: #666;
}

/* project pages */

.section {
  text-align: center;
  line-height: 140%;
  margin: 0 auto 4em auto;
}

.section h4 {
  margin-bottom: 0;
}

.project_desc > .project_subtitle {
  margin: 4ex auto 6ex;
  color: #666;
  max-width: 800px;
  padding: 10px;
}

.dark .project_subtitle {
  color: #ccc;
}

.project_desc small {
  max-width: 600px;
  display: block;
  line-height: 120%;
  margin: 0.2em auto;
  color: #666;
}

.dark small {
  color: #ccc;
}

blockquote {
  text-align: center;
  font-size: 26px;
  line-height: 170%;
  margin: 2em auto 2em;
  position: relative;
}

blockquote:before, blockquote:after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  opacity: 0.1;
}

blockquote:before {
  background-image: url('images/quote_L.svg');
  left: 0;
  top: -63px;
}

blockquote:after {
  background-image: url('images/quote_R.svg');
  right: 0;
  bottom: -37px;
}

blockquote, blockquote a {
  text-decoration: none;
}

blockquote b {
  font-size: 130%;
}

blockquote .attribution {
  font-size: 14px;
  line-height: normal;
}

.cols {
  display: table;
}

.cols > div {
  display: table-cell;
  vertical-align: middle;
}

.cols.row_of_pics > div {
  vertical-align: top;
}

.row_of_pics small {
  text-align: left;
  font-size: 16px;
}

.row_of_pics .screenshot {
  margin: 0 10px;
}

.left_pic .pic_desc {
  max-width: 400px;
  line-height: 140%;
  text-align: left;
  padding-left: 20px;
  font-size: 18px
}

.project_desc .screenshot {
  border-radius: 4px;
  border: 4px solid black;
}



@media (max-width: 980px) {
  .project_desc img {
    max-width: 100%;
    height: auto;
  }

  .cols {
    display: block;
  }

  .project_desc img.screenshot {
    border: 0;
    border-radius: 0;
  }

  .cols > div {
    display: block;
  }

  .cols.left_pic .pic_desc {
    text-align: center;
    padding: 10px;
    margin: 0 auto;
  }

  .row_of_pics .screenshot {
    margin: 25px 0 0 0;
  }
}

@media (max-width: 400px) {
  .project_title {
    font-size: 30px;
  }
}

/* special styles unique to JGA */
/* TODO: put these somewhere better */

.character_box {
  background: #666;
  width: 300px;
  height: 91px;
  margin: 30px auto 0;
  border-radius: 3px;
  border: 3px solid black;
  position: relative;
}

.character_box:after {
  content: '';
  background-image: url('../projects/jga/chars/lm_bball.png');
  display: block;
  width: 11px;
  height: 11px;
  position: absolute;
  top: 14px;
  left: 43px;
  -webkit-animation: rotation 2s infinite linear;
  animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(359deg);}
    to   {-webkit-transform: rotate(0deg);}
}

@keyframes rotation {
    from {transform: rotate(359deg);}
    to   {transform: rotate(0deg);}
}

/* blog page */

.post > h2 {
  color: white;
  font-weight: 300;
  padding: 0 60px;
  margin: 0;
  position: absolute;
  width: 100%;
  top: -10px;
  -webkit-transform: translate(0, -100%);
  -moz-transform:    translate(0, -100%);
  -ms-transform:     translate(0, -100%);
  -o-transform:      translate(0, -100%);
  transform:         translate(0, -100%);
}

.meta {
  color: #666;
  font-size: 80%;
  margin-bottom: 0;
}

.post-content {
  padding: 30px 54px;
  margin: -30px auto 30px;
  text-align: left;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    max-width: 100%;
    height: auto;
     @include shadow-elevation-2dp;
  }

  p, ul {
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.015em;
  }

  p {
    margin-bottom: 1em;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

sup {
  line-height: 1em;
}

sup a {
  text-decoration: none;
}

code {
  font-family: Consolas, Menlo, Monaco, "Lucida Console", monospace;
}

pre > code {
  font-weight: normal;
  font-size: 14px;
  white-space: pre;
  background-color: $material-grey-200;
  border-radius: 5px;
  display: block;
  padding: 10px 10px 7px;
}

.caption {
  text-align: center;
  font-size: 80%;
  display: block;
  line-height: 1.8;
}

.footnotes {
  font-size: 14px;
  word-wrap: break-word;
  border-top: 1px dashed $material-grey-400;
  margin-top: 2.5em;
  padding-top: 1.5em;

  li p {
    margin: 0.2em;
  }
}

.reversefootnote {
  text-decoration: none;
}

@media (max-width: 800px) {
  .post_content, .footnotes {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .post > h2 {
    padding: 0;
    font-size: 28px;
  }
}