---
---

// start

@import 'material-colors';
@import 'material-shadows';
@import 'material-typography';

$material-primary-color: $material-indigo-400;
$material-accent-color: $material-amber-a400;

/* global stuff */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  box-sizing: content-box;
}

body {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  color: black;
  background: $material-grey-200;
  text-align: center;
  // background: url('/css/images/portfolio_sky.jpg');
  // background-attachment: fixed;
  // background-size: cover;
  margin: 0;
  margin-top: 220px;
}

a {
  color: $material-indigo-500;
  transition: all 0.2s;
}

a:visited {
  color: $material-purple-500;
}

a:hover {
  // color: #5E99CA;
}

.dark a {
  color: #ccc;
}

.dark a:visited {
  color: #aaa;
}

.dark a:hover {
  color: white;
}

// .title {
//   @include paper-font-display4;  
//   margin: 0;
//   color: white;
//   position: relative;
//   top: -60px;
// }

// .subtitle {
//   font-size: 24px;
//   position: relative;
//   top: -50px;
//   line-height: 24px;
//   color: #6282A4;
//   margin: 0;
// }

/* navigation */

.nav {
  color: white;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  position: fixed;
  height: 192px;
  border-bottom: 11px transparent solid;
  transition: background-color 0.5s;
  background: $material-indigo-500;
  // background: url('/projects/jga/jga_sky.jpg');
  background-size: cover;
  
  &::after {
    position: absolute;
    bottom: -11px;
    top: 0;
    content: "";
    left: -5px;
    right: -5px;
    pointer-events: none;
    @include shadow-elevation-4dp;
  }
  
  .lower-area {
    position: absolute;
    bottom: 15px;
  }
}

h1.logo {
  text-align: left;
  float: left;
  line-height: 32px;
  font-size: 34px;
  font-weight: 400;
  color: white;
  transition: opacity 0.2s;
  margin: 0;
}

.logo .subheading {
  display: block;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0 0 2px;
  text-align: left;
  line-height: 24px;
  
}

img.logo {
  float: left;
  margin: 4px 0;
  border: 0;
}

.nav-contents {
    padding: 20px 0;
    max-width: 1440px;
    width: 80%;
    margin: 0 auto;
}

.nav-contents > ul {
  list-style: none;
  font-size: 18px;
  float: right;
  padding: 0;
  margin: 0;
}

.nav-contents > ul > li {
  line-height: 64px;
  float: left;
}


.nav-contents > ul > li > a, .nav-contents > ul > li > span {
  color: inherit;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  opacity: 1;
  transition: all 0.5s;
  padding: 0 20px;
  display: block;
  height: 64px;
  opacity: 0.8;
}

.nav-contents > ul > li > a:visited {
  color: inherit;
}

.nav-contents > ul > li > span {
  border-bottom: 2px solid $material-orange-a400;
  opacity: 1;
}
    
@media all and (max-width: 600px) {
  .nav, .nav.compact {
    padding: 10px 10px 10px 10px;
  }
}

@media all and (max-width: 545px) {
  .nav > ul > li {
    padding: 0 1px 0;
  }

  .nav > ul > li > a, .nav > ul > li > span {
    padding: 11px 10px;
  }
}

@media all and (max-width: 435px) {
  h1.logo {
    display: none;
  }
}

/* landing page project cards / post cards */

.card {
  border-radius: 2px;
  // background: $material-blue-grey-500;
  background: white;
  @include shadow-elevation-3dp;
  width: 80%;
  height: 300px;
  text-align: left;
  display: block;
  flex-direction: row;
  margin: 30px auto;
  text-decoration: none;
  color: black;
  transition: all 0.2s;
  max-width: 1440px;
}

.card:hover {
    @include shadow-elevation-6dp;
}

.card:focus {
  outline: none;
  // box-shadow: 0 0 0 2px #1274C5;
}

.card .desc {
  position: relative;
  margin-left: 50%;
  padding-top: 2em;
}

.card p {
  font-size: 16px;
  margin: 10px 20px;
  color: inherit;
  opacity: $material-light-secondary-opacity;
  transition: all 0.2s;
}

.card br {
  line-height: 200%;
}

.card .thumb {
  background-size: cover;
  float: left;
  width: 55%;
  height: 100%;
  border-radius: 2px 0 0 2px;
  border-right: 1px solid $material-grey-400;
  position: relative;
} 

.card .thumb::after {
  content: '';
  position: absolute;
  right: -50px;
  height: 100%;
  width: 100px;
  background-color: white;
  transform: skewX(-10deg);

}

.card h3 {
  font-weight: 300;
  font-size: 22px;
  margin: 10px 20px 20px;
  color: inherit;
  transition: color 0.2s;
}

.card a {
  margin: 10px 20px;
  font-size: 16px;
}
.card:focus {
  outline: none;
  box-shadow: 0 0 0 2px #1274C5;
}

@media (max-width: 525px) {
  .card {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
  }

  .card > img {
    width: 100%;
    height: auto;
  }
}

/* about page contact cards */

.contact_info {
  margin: 2em 0;
  text-align: center;
}

.contact_info > h3 {
  font-size: 16px;
  margin-top: 2em;
  margin-bottom: 0;
  color: #666;
}

.contact, .contact:visited, .social, .social:visited {
  text-decoration: none;
  margin: 5px;
  display: inline-block;
  border-radius: 3px;
}

.contact .site-icon {
  margin-right: 5px;
}

.contact, .contact:visited {
  color: #1274C5;
  background-color: white;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.contact:hover {
  color: #1274C5;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.social, .social:visited {
  width: 100px;
  color: #666;
  padding: 15px 5px;
}

.social:hover {
  background: #ddd;
  color: #666;
}

.social > span {
  display: block;
  line-height: 30px;
}

@media all and (max-width: 600px) {
  .contact {
      width: 90%;
  }
}

/* main page extras */

.main_page_footer {
  font-size: 80%;
  max-width: 575px;
  margin: 0 auto 40px;
}

.main_page_footer > h3 {
  margin-bottom: 1ex;
}

.main_page_footer > small {
  color: #666;
}

/* project pages */

.project_title {
  font-size: 7vw;
  margin: 20px auto;
  font-weight: 300;
}

.section {
  text-align: center;
  line-height: 140%;
  margin: 0 auto 4em auto;
  font-weight: 300;
}

.section h4 {
  margin-bottom: 0;
}

.project_desc > .project_subtitle {
  margin: 4ex auto 6ex;
  color: #666;
  font-weight: 300;
  max-width: 800px;
  padding: 10px;
}

.dark .project_subtitle {
  color: #ccc;
}

.project_desc small {
  max-width: 600px;
  display: block;
  line-height: 120%;
  margin: 0.2em auto;
  color: #666;
}

.dark small {
  color: #ccc;
}

blockquote {
  text-align: center;
  font-size: 26px;
  line-height: 170%;
  margin: 2em auto 2em;
  position: relative;
}

blockquote:before, blockquote:after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  opacity: 0.1;
}

blockquote:before {
  background-image: url('images/quote_L.svg');
  left: 0;
  top: -63px;
}

blockquote:after {
  background-image: url('images/quote_R.svg');
  right: 0;
  bottom: -37px;
}

blockquote, blockquote a {
  text-decoration: none;
}

blockquote b {
  font-size: 130%;
}

blockquote .attribution {
  font-size: 14px;
  line-height: normal;
}

.cols {
  display: table;
}

.cols > div {
  display: table-cell;
  vertical-align: middle;
}

.cols.row_of_pics > div {
  vertical-align: top;
}

.row_of_pics small {
  text-align: left;
  font-size: 16px;
}

.row_of_pics .screenshot {
  margin: 0 10px;
}

.left_pic .pic_desc {
  max-width: 400px;
  font-weight: 300;
  line-height: 140%;
  text-align: left;
  padding-left: 20px;
  font-size: 18px
}

.project_desc .screenshot {
  border-radius: 4px;
  border: 4px solid black;
}



@media (max-width: 980px) {
  .project_desc img {
    max-width: 100%;
    height: auto;
  }

  .cols {
    display: block;
  }

  .project_desc img.screenshot {
    border: 0;
    border-radius: 0;
  }

  .cols > div {
    display: block;
  }

  .cols.left_pic .pic_desc {
    text-align: center;
    padding: 10px;
    margin: 0 auto;
  }

  .row_of_pics .screenshot {
    margin: 25px 0 0 0;
  }
}

@media (max-width: 400px) {
  .project_title {
    font-size: 30px;
  }
}

/* special styles unique to JGA */
/* TODO: put these somewhere better */

.character_box {
  background: #666;
  width: 300px;
  height: 91px;
  margin: 30px auto 0;
  border-radius: 3px;
  border: 3px solid black;
  position: relative;
}

.character_box:after {
  content: '';
  background-image: url('../projects/jga/chars/lm_bball.png');
  display: block;
  width: 11px;
  height: 11px;
  position: absolute;
  top: 14px;
  left: 43px;
  -webkit-animation: rotation 2s infinite linear;
  animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(359deg);}
    to   {-webkit-transform: rotate(0deg);}
}

@keyframes rotation {
    from {transform: rotate(359deg);}
    to   {transform: rotate(0deg);}
}

/* blog page */

.post_content {
  font-size: 75%;
}

.post > h2 {
  color: white;
  font-weight: 300;
  padding: 0 60px;
  margin: 0;
  position: absolute;
  width: 100%;
  top: -10px;
  -webkit-transform: translate(0, -100%);
  -moz-transform:    translate(0, -100%);
  -ms-transform:     translate(0, -100%);
  -o-transform:      translate(0, -100%);
  transform:         translate(0, -100%);
}

.meta {
  color: #666;
  font-size: 80%;
  margin-bottom: 0;
}

.post_content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  max-width: 100%;
  height: auto;
}

.post_content, .footnotes {
  width: 780px;
  text-align: left;
  margin: 0 auto;
  padding: 10px;
}

.post_content {
  padding: 2px 10px 10px 10px;
}

.post_content p, .post_content ul {
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.015em;
}

.post_content p {
  margin-bottom: 1em;
}

.post_content p:last-of-type {
  margin-bottom: 0;
}

sup {
  line-height: 1em;
}

sup a {
  text-decoration: none;
}

code {
  font-family: Consolas, Menlo, Monaco, "Lucida Console", monospace;
  font-weight: bold;
}

pre > code {
  font-weight: normal;
  font-size: 14px;
  white-space: pre;
  background-color: white;
  border-radius: 5px;
  display: block;
  padding: 10px;
}

.caption {
  text-align: center;
  font-size: 80%;
  display: block;
  line-height: 1.8;
}

.footnotes {
  font-size: 14px;
  word-wrap: break-word;
}

.footnotes li p {
  margin: 0.2em;
}

.reversefootnote {
  text-decoration: none;
}

@media (max-width: 800px) {
  .post_content, .footnotes {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .post > h2 {
    padding: 0;
    font-size: 28px;
  }
}

/* footer project navigation */
#nav_footer {
  position: absolute;
  width: 70%;
  bottom: 0;
  left: 50%;
  margin-left: -35%;
  background-color: rgba(0,0,0,0.7);
  height: 120px;
  border-radius: 5px 5px 0 0;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -moz-transform:    translateY(100%);
  -ms-transform:     translateY(100%);
  -o-transform:      translateY(100%);
  transform:         translateY(100%);
}

#nav_footer.visible {
  -webkit-transform: translateY(0);
  -moz-transform:    translateY(0);
  -ms-transform:     translateY(0);
  -o-transform:      translateY(0);
  transform:         translateY(0);
  opacity: 1;
}

#nav_footer.narrow {
  width: 300px;
  margin-left: -150px;
}

.narrow #contact_minibox {
  left: 10px;
  right: 10px;
}

#nav_footer .nav_footer_button, #nav_footer .nav_footer_button:visited {
  display: block;
  position: absolute;
  text-decoration: none;
  border-radius: 3px;
  font-size: 16px;
  color: white;
  background-color: #175D96;
  height: 80px;
  bottom: 20px;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  width: 300px;
}

#nav_footer .nav_footer_button:hover {
  background-color: #1274C5;
}

.nav_footer_button > div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform:    translateY(-50%);
  -ms-transform:     translateY(-50%);
  -o-transform:      translateY(-50%);
  transform:         translateY(-50%);
}

.nav_footer_button .label {
  opacity: 0.5;
}

.nav_footer_button .name {
  font-weight: bold;
}

#prev_proj {
  text-align: left;
  left: -80px;
  padding-left: 70px;
  padding-right: 10px;
}

#next_proj {
  text-align: right;
  right: -80px;
  padding-right: 70px;
  padding-left: 10px;
}

#prev_proj:before, #next_proj:before {
  position: absolute;
  font-family: FontAwesome;
  top: 7px;
  font-size: 64px;
}

#prev_proj:before {
  left: 16px;
  content: '\f100';
}

#next_proj:before {
  right: 16px;
  content: '\f101';
}

#contact_minibox {
  color: white;
  position: absolute;
  top: 20px;
  left: 230px;
  right: 230px;
}

#contact_minibox .byline {
  opacity: 0.5;
  font-size: 12px;
}

#contact_minibox .contact {
  border: 0;
  font-size: 16px;
  width: 100%;
  max-width: 220px;
  background-color: #797979;
  color: white;
  padding: 8px;
  margin: 8px 0 4px;
}

#contact_minibox .contact:hover {
  background-color: #8B8B8B;
}

.social_icons a {
  color: #888;
  padding: 0 5px;
  font-size: 24px;
  text-decoration: none;
}

.social_icons a:hover {
  color: #ddd;
}

/* responsive mode */
@media all and (max-width: 900px) {
  #nav_footer {
    width: 80%;
    margin-left: -40%;
  }
}

@media all and (max-width: 780px) {
  #nav_footer:not(.narrow) {
    height: auto;
    width: 100%;
    margin-left: -50%;
    border-radius: 0;
  }

  #nav_footer:not(.narrow) .nav_footer_button,
  #nav_footer:not(.narrow) .nav_footer_button:visited,
  #nav_footer:not(.narrow) #contact_minibox {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 10px;
  }

  #contact_minibox .contact {
    max-width: none;
    width: 90%;
  }

}
