---
---

// start

@import 'material-colors';
@import 'material-shadows';
@import 'material-typography';

$material-primary-color: $material-blue-grey-500;
$material-accent-color: $material-amber-a400;

/* global stuff */
html {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  box-sizing: content-box;
}

body {
  font-family: "Lato", "Roboto", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  color: white;
  background: $material-grey-900;
  text-align: center;
  margin: 0 0 126px 0;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $material-indigo-a100;
}

a:hover {
  text-decoration: underline;
}

/* navigation */

.nav {
  color: white;
  z-index: 2;
  position: relative;
  background: rgb(53, 53, 125);
  margin-bottom: 55px;

  .nav-lower {
    font-family: 'Roboto Mono';
    text-align: left;
    padding-top: 100px;
    padding-bottom: 35px;

    h1, p {
      margin: 0;
    }

    h1 {
      margin-bottom: 18px;
      font-size: 36px;

      span {
        color: $material-amber-500;
      }
    }

    p {
      font-size: 16px;

      &.subsubtitle {
        font-size: 16px;
        margin-top: 25px;

        span {
          opacity: $material-light-secondary-opacity;
        }
      }
    }
  }
}

.nav.landing-page {
  background: rgb(53, 53, 125);
  margin-bottom: 0;

  .subtitle {
    font-size: 20px;
    opacity: 1;
  }

  .nav-lower {
    padding-top: 140px;
    padding-bottom: 50px;
  }

  & + #sticky_nav_bg {
    background: rgb(53, 53, 125);
  }
}

.nav.leaf-level {
  background: $material-grey-800;

  .subtitle {
    font-size: 16px;
    opacity: $material-light-secondary-opacity;
  }

  & + #sticky_nav_bg {
    background: $material-grey-800;
  }
}

h1.logo {
  text-align: left;
  font-size: 34px;
  font-weight: 400;
  color: white;
  transition: opacity 0.2s;
  margin: 0;
}

svg.logo {
  border: 0;
  margin: 4px 0;

  > circle {
    stroke: rgba(255,255,255,0.5);
    transition: stroke .5s ease;
  }
}

.nav a.logo {
  color: inherit;
  display: block;
  margin: 0;
  text-decoration: none;
  text-align: left;
  flex-grow: 1;
  height: 64px;
  overflow: hidden;
  white-space: nowrap;

  i {
    line-height: 64px;
    height: 64px;
    width: 50px;
    text-align: left;
  }

  span {
    font-size: 20px;
    font-weight: 500;
    position: relative;
    top: -5px;
    opacity: 0;
  }

    
  &:hover circle {
    stroke: white;
  }
}

.central-col {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

.blurb {
  font-family: "Roboto Mono";
  font-size: 14px;
  text-align: left;
  padding-bottom: 33px;
  padding-top: 33px;
  display: flex;
  align-items: center;

  i {
    padding: 0 15px 0 10px;
    color: $material-amber-500;
  }

  span {
    opacity: 0.7;
  }
}

.nav-upper {
    display: -webkit-flex;
    display: flex;
    position: fixed;
    padding: 0 20px;
    transform: translate3d(0, 20px, 0);
    width: 100%;
}

.nav-tabs {
  list-style: none;
  font-size: 18px;
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: flex;

  li {
    line-height: 64px;
  }

  li > a {
    color: inherit;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    opacity: 1;
    transition: all 0.5s;
    padding: 0 20px;
    display: block;
    height: 64px;
    opacity: 0.8;
    border-bottom: 2px solid transparentize($material-amber-500, 1);

    &:hover {
      border-bottom: 2px solid rgba(255,255,255,0.25);
    }


    &.current {
      border-bottom: 2px solid $material-amber-500;
      opacity: 1;
    }
  }
}

#sticky_nav_bg {
  position: fixed;
  background: rgb(53, 53, 125);
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  z-index: 1;
  @include shadow-elevation-4dp;
}

// @supports (-webkit-backdrop-filter: blur(10px)) {
//   #sticky_nav_bg {
//     background: rgba(53, 53, 125, .8);
//     -webkit-backdrop-filter: blur(10px);
//   }
// }

/* landing page project cards / post cards */

.cards {
  // card section header
  > h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    color: $material-grey-600;
    font-size: 12px;
    padding: 0 0 13px 0;
    margin-top: -3px;
    letter-spacing: 1px;
  }
}

// support for color-hot-tracking effect (thanks, win7)
.glass_effect {
  color: white;
  transform: translate3d(0,0,0);
  text-shadow: 0 0 5px rgba(0,0,0,0.75);
  transition: all 0.1s linear;
  border-radius: 2px;
  background-color: $material-grey-800;
  overflow: hidden;
  position: relative;

  // semitransparent inner border for maximum shine
  &::before {
    content: '';
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    transition: inherit;
    box-shadow: inset 0 0 0 1px white;
    opacity: 0.25;
  }
  
  // color hot tracking for that win7 taskbar goodness
  .color_hot_track {
    position: absolute;
    transition: transform 0.1s linear, opacity .5s linear, top .2s linear;
    top: 10%;
    left: 0;
    width: 200%;
    height: 200%;
    z-index: -2;
    opacity: 0;
    background-image: radial-gradient(ellipse closest-side,
                      transparentize(white, 0),
                      transparentize($material-amber-700, 0),
                      transparentize($material-amber-700, 1));
  }

  // hover effects
  &:hover {
    text-decoration: none;
    background-color: darken($material-amber-900, 20);

    .color_hot_track {
      opacity: 1;
    }

    &::before {
      opacity: .5;
    }
  }

  &:active {
    .color_hot_track {
      top: -10px;
    }
  }

}

// alternate color schemes for glass elements
@mixin addGlassColor($classname, $color) {
  .glass_effect.#{$classname} {
    .color_hot_track {
      background-image: radial-gradient(ellipse closest-side,
                        transparentize(white, 0),
                        transparentize($color, 0),
                        transparentize($color, 1));
    }
    
    &:hover {
      background-color: darken($color, 20);
    }
  }
}

@include addGlassColor("green", $material-green-700);
@include addGlassColor("blue", $material-blue-700);
@include addGlassColor("red", $material-red-800);
@include addGlassColor("teal", $material-teal-600);
@include addGlassColor("light-green", $material-light-green-700);
@include addGlassColor("indigo", $material-indigo-500);

.project-card {
  min-height: 350px;
  text-align: left;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  text-decoration: none;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  font-weight: 300;

  .proj_info {
    flex: 1;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;

    div {
      padding: 0 10px 0 25px;
    }
  }

  .desc {
    flex: 1;
  }

  .thumb_outer {
    flex: 1.2 1 auto;
    transform: skewX(-10deg);
    overflow: hidden;
    position: relative;
    left: 27px;
  }

  .thumb {
    background-size: cover;
    background-color: inherit;
    opacity: 0.9;
    transform: skewX(10deg);
    position: absolute;
    top: 0;
    left: -27px;
    right: -27px;
    bottom: 0;
  }

  .upper, .lower {
    z-index: -1;
  }

  .upper {
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,.15);
    padding: 25px;
    display: flex;
    align-items: center;


    div:first-child {
      flex: 1;
    }
  }

  .project_icon {
    opacity: .5;
    height: 32px;

    > i {
      font-size: 32px;
    }
  }

  .lower {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    flex: 1;
    overflow: hidden;
  }

  h3 {
    font-size: 48px;
    font-weight: 300;
    line-height: 1;
    margin: 0 0 7px -3px;
    color: inherit;
  }

  blockquote {
    opacity: 0.8;
    border-left: 3px solid rgba(255,255,255,0.1);
    padding: 6px 0 6px 12px;
    font-size: 14px;
    margin: 0 0 8px 0;
    font-weight: 400;

    p {
      margin: 0;
    }

    p:last-child {
      font-size: 12px;
      opacity: 0.5;
    }
  }

  br {
    line-height: 200%;
  }

  a {
    margin: 10px 20px;
    font-size: 16px;
  }

  .tags, h4 {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    opacity: 0.5;
    font-weight: 400;
  }

  .tags {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline;
      &:not(:first-child)::before {
        content: ' // ';
        padding: 0 5px;
      }
    }
  }

  div.image_row {
    padding: 0;

    > img {
      width: 6vw;
      height: 6vw;
      padding: 10px;
      margin: auto;
      min-height: 42px;
      min-width: 42px;
    }
  }

  .bg_overlay{
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
    transition: inherit;
    opacity: .3;
  }
}



/* pages */

.post-content {
  color: rgba(255,255,255,$material-light-secondary-opacity);
  width: 760px;
  margin: 0 auto;
  text-align: left;

  h2, h3 {
    font-size: 24px;
    font-family: "Roboto Mono";
    line-height: 1.2;
    color: $material-amber-500;

    // sneaky way to take fixed nav into account for anchor links
    // courtesy of http://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header
    &::before {
      content: ''; display: block; position: relative; width: 0; height: 84px; margin-top: -84px;
    }
  }

  h3 {
    font-size: 20px;
  }

  p {
    letter-spacing: 0.05px;
    margin-bottom: 1.5em;
  }

  p, ul {
    font-weight: 400;
    line-height: 1.8;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  ol li {
    margin: 0.5em 0;
  }

  img {
    max-width: 100%;
    height: auto;
    margin: 40px auto;
    display: block;
    border-radius: 2px;
  }

  figure {
    margin:  40px 0;
    border-radius: 3px;
    text-align: center;
    font-size: 80%;

    img {
      margin: 0 auto 20px;
    }

    figcaption {
      width: 80%;
      margin: 0 auto;
    }
  }

  blockquote {
    color: $material-grey-300;
    border-left: 4px solid $material-grey-700;
    margin: 0 0 1em 0;
    padding: 1em 2em;
    font-size: 90%;

    p {
      margin: 0;
    }

    a {
      opacity: 0.7;
    }

    & + blockquote {
      padding-top: 0;
    }
  }
}

.buttons {
  justify-content: center;
  display: flex;

  a {
    display: block;
    color: white;
    background-color: rgba(255,255,255,.15);
    width: 200px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 2px;
    padding: 15px 25px;
    margin: 10px 10px 5px 0px;
    text-align: center;

    i {
      display: block;
      font-size: 36px;
      opacity: .8;
      padding-bottom: 15px;
    }
  }
}

#markdown-toc {
  list-style: none;
  margin-left: 0;
  padding: 0px 15px;
  font-family: "Roboto Mono";
  font-size: 18px;
  border-left: 4px solid $material-grey-700;

  &:before {
    content: 'Contents';
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
    color: $material-grey-500;
    content: 'Contents';
    text-transform: uppercase;
  }

  ul  {
    padding-left: 12px;
  }

  li li {
    font-size: 15px;
    list-style: none;
  }
}

// footer
footer {
  height: 96px;
  width: 100%;
  position: absolute;
  bottom: 0;

  a {
    color: $material-grey-500;
  }

  .central-col {
    display: -webkit-flex;
    display: flex;
    height: 100%;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .contact-minibox {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .social-icons {
    font-size: 24px;
    height: 30px;

    a {
      opacity: 0.4;
      transition: 0.2s all;
      padding: 0 2px;
      color: white;
    }
  }

  .social-icons:hover a {
    opacity: 0.2;

    &:hover {
      opacity: .7;
    }
  }


  .footer-nav-button {
    -webkit-flex: 50%;
    flex: 50%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
  }

  a:hover {
    text-decoration: none;
  }

  .label {
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.7;
  }

  .name {
    font-size: 20px;
    line-height: 1.2;
  }

  .prev {
    text-align: left;
  }

  .next {
    text-align: right;
  }
}

footer {
  background-color: mix($material-grey-800, $material-grey-900, 20%);
}


sup {
  line-height: 1em;
}

sup a {
  text-decoration: none;
}

code {
  font-family: Consolas, Menlo, Monaco, "Lucida Console", monospace;
}

pre > code {
  font-weight: bold;
  font-size: 14px;
  white-space: pre;
  border-radius: 2px;
  background-color: #333;
  display: block;
  padding: 10px 10px 7px;
  overflow: auto;
}


.footnotes {
  font-size: 14px;
  word-wrap: break-word;
  border-top: 1px dashed $material-grey-700;
  margin-top: 2.5em;
  padding-top: 1.5em;

  li p {
    margin: 0.2em;
  }
}

.reversefootnote {
  text-decoration: none;
}

// responsive modes
@media all and (max-width: 827px) {
  .central-col {
    width: 100%;
    min-width: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav.leaf-level .nav-tabs {
    display: none;
  }
}

// tiny screens
@media all and (max-width: 460px) {
  .project-card {
    .lower {
      flex-direction: column-reverse;
    }
    
    .thumb_outer {
      transform: none;
      left: 0;
      height: 200px;
    }

    .thumb {
      transform: none;
    }
  }

  .central-col {
    padding-left: 10px;
    padding-right: 10px;
  }

  .nav-upper {
    padding: 0 10px;
  }

  .nav-tabs li > a {
    padding: 0 10px;
  }
}
