body {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 22px;
  color: black;
  text-align: center;
  background: white;
  overflow: hidden;
  margin: 0;
}

a {
  transition: color 0.2s;
}


#main {
  perspective: 100px;
  -moz-perspective: 100px;
  -webkit-perspective: 100px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.sky_bg {
  background: #888 url('images/IMG_9924.jpg') center -160px no-repeat;
  /*background: transparent url('images/photo_bg.jpg') center top no-repeat;*/
  /*background: transparent url('images/IMG_9379.jpg') center -300px no-repeat;*/
  /*background: transparent url('images/IMG_9299.jpg') center -150px no-repeat;*/
  /*background: transparent url('images/IMG_9455.jpg') center -200px no-repeat;*/
  /*background: transparent url('images/IMG_9775.jpg') center -270px no-repeat;*/
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transform: translate3d(0, 0, -100px) scale(2);
  -moz-transform: translate3d(0, 0, -100px) scale(2);
  -webkit-transform: translate3d(0, 0, -100px) scale(2);
}

#ground {
  /*background-image: linear-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,1) 200px);*/
  background: #eee;
  width: 100%;
  position: absolute;
  top: 65%;
  min-height: 100%;

}

#ground.short {
  top: 40%;
}

#ground.dark {
  background-color: #252525;
  color: white;
}

#ground.dark a {
  color: #ccc;
}

#ground.dark a:visited {
  color: #aaa;
}

#ground.dark a:hover {
  color: white;
}

/*@media (max-width: 1280px) {
  .sky_bg {
    background-size: 1280px 50vh;
  }
}*/

h1, .subtitle, .teaser {
  font-weight: 300;
}



/*.title {
  transform: translate3d(0px, -50px, -60px) scale(1.5);
  -webkit-transform: translate3d(0px, -50px, -60px) scale(1.5);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}*/

.title, .subtitle, #ground {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.title {
  font-size: 72px;
  margin: 0;
  color: white;
  position: relative;
  top: -60px;
  line-height: 72px;
}

.subtitle {
  font-size: 24px;
  position: relative;
  top: -50px;
  line-height: 24px;
  color: #6282A4;
  margin: 0;
}


.nav {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 40px;
  font-weight: 300;
  transition: all 0.5s;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0));
}

.nav.compact {
  padding: 10px 10px 10px 20px;
  background-color: rgba(0,0,0,.5);

}

.nav.fixed {
  /*background-color: rgba(0,0,0,.93);*/
  background-color: black;
}

.nav p.subheading {
  opacity: 0.5;
  font-size: 14px;
  margin: 0;
  text-align: left;
  line-height: 14px;
}




.logo {
  float: left;
}

h1.logo {
  margin: 0;
  line-height: 32px;
  font-size: 24px;
  padding-left: 10px;
  text-align: left;
  color: white;
}

.nav > ul {
  list-style: none;
  font-size: 18px;
  float: right;
  padding: 0;
  margin: 0;
}

.nav > ul > li {
  line-height: 48px;
  float: left;
  padding: 0 10px 0;
}


.nav > ul > li > a, .nav > ul > li > span {
  color: white;
  text-decoration: none;
  opacity: 1;
  transition: all 0.5s;
  padding: 11px 19px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.nav > ul > li > a:hover {
  border: 1px solid rgba(255,255,255,0.3);
}


.nav > ul > li > span {
  background-color: rgba(255,255,255,0.25);
}

.project_title {
  font-size: 7vw;
  margin: 20px auto;
  font-weight: 300;
}

.project_desc > p {
  text-align: center;
  line-height: 140%;
  max-width: 800px;
  margin: 4em auto;
  font-weight: 300;
}

.project_desc > .project_subtitle {
  margin: 4ex auto 6ex;
  color: #ccc;
}

.projects {
  margin: 5ex auto;
}

blockquote {
  font-weight: 300;
  max-width: 485px;
  font-size: 26px;
  line-height: 170%;
  margin: 2em auto 2em;
  position: relative;
}

blockquote:before, blockquote:after {
  font-size: 200px;
  font-family: "Times New Roman", Times, sans-serif;
  opacity: 0.2;
  position: absolute;
}

blockquote:before {
  content: '\201c';
  left: 0;
}

blockquote:after {
  content: '\201d';
  right: 0;
}

blockquote, blockquote a {
  text-decoration: none;
  color: #00A008;
}

blockquote b {
  font-size: 130%;
}

blockquote .attribution {
  font-size: 14px;
  line-height: normal;
}

.cols {
  display: table;
  margin: 0 auto;
}

.cols > div {
  display: table-cell;
  vertical-align: middle;
}

.project_desc img {
  border-radius: 4px;
  margin-right: 20px;
  border: 4px solid black;
}

.project {
  border-radius: 2px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  width: 512px;
  height: 417px;
  margin: 0 1% 2ex;
  overflow: hidden;
  text-align: left;
  display: inline-block;
  text-decoration: none;
  color: black;
  transition: all 0.5s;
  position: relative;
}

.project:hover {
  background-color: #1274C5;
  color: white;
}

.project:focus {
  outline: none;
  box-shadow: 0 0 0 2px #1274C5;
}

.project > p {
  font-size: 16px;
  margin: 10px 20px;
  color: black;
  opacity: 0.6;
  transition: all 0.5s;
}

.project:hover > p {
  color: white;
}

.project .fake_link {
  line-height: 22px;
  color: #1274C5;
  display: block;
  height: 17px;
  border-bottom: 1px solid transparent;
  transition: all 0.5s;
  position: absolute;
  bottom: 15px;
  left: 0;
  opacity: 1;
}

.project:hover .fake_link {
  border-bottom: 1px solid white;
  color: white;
}

.project > img {
  border-radius: 2px 2px 0 0;
}

.project > h3 {
  font-weight: 300;
  font-size: 22px;
  margin: 10px 20px;
}


.project > a {
  margin: 10px 20px;
  font-size: 16px;
}
