---
layout: default
section: portfolio
is_top_level: true
browser_title: "Dan Tilden: UX Designer"
title: "Dan Tilden"
subtitle: >
          I'm a multidisciplinary UX designer with an eye for clean and unobtrusive design.
top_bar_color: "#35357d"
top_bar_color2: "#9e5959"
---


<div class="cards central-col">
  <h2>Featured Projects</h2>
	{% for project in site.data.projects %}
	<a  id="project{{forloop.index}}"
	    class="card project-card"
		href="{{ project.url }}">
		
		<div class="upper">
			<div>
				<h3>{{ project.name }}</h3>
				<ul class="tags">
					{% for tag in project.tags %}
						<li>{{tag}}</li>
					{% endfor %}
				</ul>
			</div>

			<div class="project_icon"><i class="material-icons">{{ project.icon }}</i></div>		
		</div>
		<div class="lower">
			<div class="proj_info">
				<div class="desc">
				{{ project.desc }}
				</div>
				<div class="extra_info">
					{{ project.extra_info }}
				</div>
			</div>
			<div class="thumb_outer">
				<div class="thumb" style="background-image: url(images/banners/{{ project.banner_img }})"></div>
			</div>
		</div>
		<div class="color_hot_track" id="color_hot_track{{forloop.index}}"></div>
		<div class="bg_overlay"
		     style="background-image: url(images/banners/blur/{{ project.banner_img }});">
		</div> 
	</a>
	{% endfor %}

	<!-- {% for project in site.data.projects %}
	<a id="project{{forloop.index}}"
	   class="card project-card"
	   href="{{ project.url }}"
	   style="background-image: url(images/banners/blur/{{ project.banner_img }});">
	   <div class="bg_overlay"></div>	   
		<ul class="tags">
		{% for tag in project.tags %}
			<li>{{tag}}</li>
		{% endfor %}
		</ul>
		<h3>{{ project.name }}</h3>
		<div class="project_icon"><i class="material-icons">{{ project.icon }}</i></div>		
		<div class="desc">
			{{ project.desc }}
		</div>
		<div class="thumb" style="background-image: url(images/banners/{{ project.banner_img }})"></div>
		<div class="extra_info">
			{{ project.extra_info }}
		</div>
	</a>
	{% endfor %} -->

</div>
