<footer class="site-footer">

  

</footer>

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>

<script>
	$('#main').on('scroll', function () {
		var navCompactCutoff = 160;
		var navFixedCutoff = 68;
		var bannerHeight = $('#ground').position().top;

	    if (bannerHeight < navCompactCutoff) {
	    	$('.nav').addClass('compact');
	    } else {
	        $('.nav').removeClass('compact');
	    }

    	if (bannerHeight < navFixedCutoff) {
        	$('.nav').addClass('fixed');
   		} else {
   			$('.nav').removeClass('fixed');
   		}
	});
</script>