<footer class="site-footer">



</footer>

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/scripts/retina.min.js"></script>

<script>
	function addClass2(object, className) {
		// if(!object.hasClass(className)) {
			object.addClass(className);
		// }
	}

	function removeClass2(object, className) {
		// if(object.hasClass(className)) {
			object.removeClass(className);
		// }
	}

	function adjustNavBars() {
		var navCompactCutoff = 160;
		var navFixedCutoff = 68;
		var bannerHeight = $('#ground').position().top;
		var navBar = $('.nav');
		var viewport = $('#viewport');
		var footerNav = $('#nav_footer');
		var scrollDistanceFromBottom = viewport.get(0).scrollHeight - viewport.get(0).scrollTop  - viewport.get(0).offsetHeight;

		// adjust main nav bar based on scroll position
    if (bannerHeight < navCompactCutoff) {
			addClass2(navBar, 'compact');
    } else {
			removeClass2(navBar, 'compact');
    }

  	if (bannerHeight < navFixedCutoff) {
			addClass2(navBar, 'fixed');
		} else if(navBar.hasClass('fixed')) {
			removeClass2(navBar, 'fixed');
 		}

		// control footer nav visibility
		if(scrollDistanceFromBottom < 50) {
			addClass2(footerNav, 'visible');
		} else if(footerNav.hasClass('visible')){
			removeClass2(footerNav, 'visible');
		}
	}

	setInterval(adjustNavBars, 100);

	$('document').ready(function() {
		$(".nav").css('right', scrollbarWidth() + 'px');
	});

	function scrollbarWidth() {
			var $inner = jQuery('<div style="width: 100%; height:200px;">test</div>'),
					$outer = jQuery('<div style="width:200px;height:150px; position: absolute; top: 0; left: 0; visibility: hidden; overflow:hidden;"></div>').append($inner),
					inner = $inner[0],
					outer = $outer[0];

			jQuery('body').append(outer);
			var width1 = inner.offsetWidth;
			$outer.css('overflow', 'scroll');
			var width2 = outer.clientWidth;
			$outer.remove();

			return (width1 - width2);
	}


</script>

<script type="text/javascript">
	$(document).ready(function () {
		// simple email encoder; we'll just hope spambots can't parse JS...
		var a = {'gmail': 'dan', 'com': 'tilden', '@': '.'};
		var b = "";
		b += a[Object.getOwnPropertyNames(a)[0]];
		b += a[Object.getOwnPropertyNames(a)[2]];
		b += a[Object.getOwnPropertyNames(a)[1]];
		b += Object.getOwnPropertyNames(a)[2];
		b += Object.getOwnPropertyNames(a)[0];
		b += a[Object.getOwnPropertyNames(a)[2]];
		b += Object.getOwnPropertyNames(a)[1];
		$('#email_link').attr('href', 'mailto:' + b);
  });
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-18252375-1', 'auto');
  ga('send', 'pageview');

</script>
