<footer class="site-footer">



</footer>

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>

<script>
	$(document).on('scroll', function () {
		// navbar magical transformation sequence
		var navCompactCutoff = 160;
		var navFixedCutoff = 68;
		var skyHeight = $('#ground').offset().top - $(window).scrollTop();

    if (skyHeight < navCompactCutoff) {
    	$('.nav').addClass('compact');
    } else {
        $('.nav').removeClass('compact');
    }

  	if (skyHeight < navFixedCutoff) {
      	$('.nav').addClass('fixed');
 		} else {
 			$('.nav').removeClass('fixed');
 		}

		// parallax
		parallaxFactor = -0.5;
		skyTop = Math.round(Math.max($(window).scrollTop(), 0) * parallaxFactor) + 'px';
		$('.sky_bg').css('top', skyTop);
	});
</script>
