<div id="nav_footer" class="visible">
  <a id="prev_proj" class="nav_footer_button" href="/projects/jga">
    <span>
      <div class="label">Previous Project</div>
      <div class="name">JGA: Crossroads of Destiny</div>
    </span>
  </a>

  <a id="next_proj" class="nav_footer_button" href="/projects/jga">
    <span>
      <div class="label">Next Project</div>
      <div class="name">The New Adventures of Scrapinold Dooington</div>
    </span>
  </a>

  <div id="contact_minibox">
    <div class="byline">Designed by Dan Tilden</div>
    <a class="contact" href="/files/DanTilden-Resume.pdf">
      <span>Download resume</span>
  	</a>

    <div class="social_icons">
    	<a title="LinkedIn" href="https://www.linkedin.com/pub/dan-tilden/">
        <i class="site-icon fa fa-linkedin-square"></i>
    	</a>
      <a title="GitHub" href="https://github.com/tilden">
        <i class="site-icon fa fa-github-square"></i>
      </a>
      <a title="Instagram" href="https://instagram.com/freakified/">
        <i class="site-icon fa fa-instagram"></i>
      </a>
      <a title="SoundCloud" href="https://soundcloud.com/freakified/">
        <i class="site-icon fa fa-soundcloud"></i>
      </a>
    </div>
  </div>

</div>
