
{% assign nav_type = false %}
{% if page.is_project %}
  {% assign nav_type = "Project" %}
  {% comment %}  If this page is a project, determine the next and previous projects
  based on the YAML datafile {% endcomment %}
  {% for project in site.data.projects %}
    {% if project.name == page.title %}
      {% unless forloop.last %}
        {% assign next_project = site.data.projects[forloop.index].name %}
        {% assign next_project_url = site.data.projects[forloop.index].url %}
      {% endunless %}
      {% break %}
    {% endif %}

    {% assign prev_project = project.name %}
    {% assign prev_project_url = project.url %}

  {% endfor %}

{% elsif page.previous.url or page.next.url %}
  {% assign nav_type = "Post" %}
{% endif %}

{% if nav_type %}
<div id="nav_footer" >
{% else %}
<div id="nav_footer" class="narrow">
{% endif %}

  {% if page.next.url or prev_project %}
  <a id="prev_proj" class="nav_footer_button" href="{{page.next.url}}{{prev_project_url}}">
    <div>
      {% if nav_type == "Project" %}
      <div class="label">Previous project</div>
      {% endif %}
      <div class="name">{{page.next.title}}{{prev_project}}</div>
    </div>
  </a>
  {% endif %}

  {% if page.previous.url or next_project %}
  <a id="next_proj" class="nav_footer_button" href="{{page.previous.url}}{{next_project_url}}">
    <div>
      {% if nav_type == "Project" %}
      <div class="label">Next project</div>
      {% endif %}
      <div class="name">{{page.previous.title}}{{next_project}}</div>
    </div>
  </a>
  {% endif %}

  <div id="contact_minibox">
    <div class="byline">Designed by Dan Tilden</div>
    <a class="contact" href="/files/DanTilden-Resume.pdf">
      <span>Download resume</span>
  	</a>

    <div class="social_icons">
    	<a title="Dribbble" href="https://dribbble.com/dantilden">
        <i class="site-icon fa fa-dribbble"></i>
    	</a>
    	<a title="LinkedIn" href="https://www.linkedin.com/pub/dan-tilden/20/415/450">
        <i class="site-icon fa fa-linkedin-square"></i>
    	</a>
      <a title="GitHub" href="https://github.com/tilden">
        <i class="site-icon fa fa-github-square"></i>
      </a>
      <a title="Instagram" href="https://instagram.com/freakified/">
        <i class="site-icon fa fa-instagram"></i>
      </a>
      <a title="SoundCloud" href="https://soundcloud.com/freakified/">
        <i class="site-icon fa fa-soundcloud"></i>
      </a>
    </div>
  </div>

</div>

<script type="text/javascript">
  function adjustFooterSpace() {
    var ground = $('#ground');
  	var footerNav = $('#nav_footer');

    ground.css('padding-bottom', footerNav.height());
  }
</script>
