
{% assign nav_type = false %}
{% if page.is_project %}
  {% assign nav_type = "Project" %}
  {% comment %}  If this page is a project, determine the next and previous projects
  based on the YAML datafile {% endcomment %}
  {% for project in site.data.projects %}
    {% if project.name == page.title %}
      {% unless forloop.last %}
        {% assign next_project = site.data.projects[forloop.index].name %}
        {% assign next_project_url = site.data.projects[forloop.index].url %}
      {% endunless %}
      {% break %}
    {% endif %}

    {% assign prev_project = project.name %}
    {% assign prev_project_url = project.url %}

  {% endfor %}

{% elsif page.previous.url or page.next.url %}
  {% assign nav_type = "Post" %}
{% endif %}

{% if nav_type %}
<footer class="site-footer">
{% else %}
<footer class="site-footer" class="narrow">
{% endif %}

  <div class="central-col">

    {% if page.next.url or prev_project %}
    <a class="footer-nav-button prev" href="{{page.next.url}}{{prev_project_url}}">
      <div class="label">Previous</div>
      <div class="name">{{page.next.title}}{{prev_project}}</div>
    </a>
    {% endif %}

    {% if page.previous.url or next_project %}
    <a class="footer-nav-button next" href="{{page.previous.url}}{{next_project_url}}">
      <div class="label">Next</div>
      <div class="name">{{page.previous.title}}{{next_project}}</div>
    </a>
    {% endif %}

  </div>

</footer>
