<div class="nav">
  <div class="banner-image" style="background-image: url({{page.banner_photo}})"></div>
  <div class="nav-contents central-col">
    {% if page.is_top_level %}
    <a href="/" class="logo" >
      <img src="/images/logo.svg" width="55" height="55" alt="logo" class="logo" data-no-retina />
    </a>

    
    {% else %}
    <a href="/" class="logo" >
      <i class="material-icons">arrow_back</i>
      <span>{{page.title}}<span>
    </a>
    {% endif %}
    <ul>
      <li>
      {% if page.section == 'portfolio' %}
        <span>Portfolio</span>
      {% else %}
        <a href="/">Portfolio</a>
      {% endif %}
      </li>
      <li>
      {% if page.section == 'blog' %}
        <span>Blog</span>
      {% else %}
        <a href="/blog">Blog</a>
      {% endif %}
      </li>
      <li>
      {% if page.section == 'about' %}
        <span>About</span>
      {% else %}
        <a href="/about">About</a>
      {% endif %}
      </li>
    </ul>

    
    <div class="lower-area">
      <h1>
        {{page.title}}
      </h1>
      <p class="subheading">{{page.subtitle}}{{subtitle}}</p>
    </div>
  </div>
</div>
