{% if page.is_landing_page %}
  {% assign nav_extra_cls = 'root-level landing-page' %}
{% elsif page.is_top_level %}
  {% assign nav_extra_cls = 'root-level' %}
{% else %}
  {% assign nav_extra_cls = 'leaf-level' %}
{% endif %}



<div class="nav {{nav_extra_cls}}" {% if page.top_bar_color %} style="background: linear-gradient(to right, {{page.top_bar_color}}, {{page.top_bar_color2}}) " {% endif %}>
  {% if page.banner_photo %}
  <div class="banner-image" style="background-image: url({{page.banner_photo}})"></div>
  {% endif %}
  <div class="nav-upper">
    {% if page.is_top_level %}

    <a href="/{{home_dest}}" class="logo" >
      <!-- <img src="/images/logo.svg" width="55" height="55" alt="logo" class="logo" data-no-retina /> -->
      <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" class="logo"><circle fill="none" stroke="#FFF" stroke-width="2" stroke-miterlimit="10" cx="27.892" cy="27.378" r="24.892"/><path fill="#FFF" d="M14.353 28.402c.937-2.32 2.253-3.235 3.636-3.235 1.852 0 2.61 1.696 3.838 1.696.624 0 1.204-.58 1.628-1.83l1.963.915c-.937 2.32-2.253 3.235-3.636 3.235-1.852 0-2.61-1.696-3.837-1.696-.603 0-1.205.602-1.629 1.829l-1.963-.914zM32.345 21.822l.076 1.362c.414-.501.911-.89 1.492-1.166s1.227-.414 1.938-.414a4.8 4.8 0 0 1 1.542.234c.461.156.854.408 1.182.757.326.349.579.803.757 1.362s.267 1.238.267 2.037v7.614h-2.646v-7.635c0-.407-.046-.75-.137-1.03a1.69 1.69 0 0 0-.397-.681 1.503 1.503 0 0 0-.647-.375 3.146 3.146 0 0 0-.888-.115c-.545 0-1.019.131-1.422.392a2.85 2.85 0 0 0-.964 1.057v8.387h-2.646V21.822h2.493z"/></svg>
    </a>

    {% else %}

    {% if page.is_post %}
      {% assign home_dest = 'blog' %}
    {% endif %}

    <a href="/{{home_dest}}" class="logo" >
      <i class="material-icons">arrow_back</i>

      <span>{{page.title}}<span>
    </a>
    {% endif %}

    <ul class="nav-tabs">
      <li>
        {% if page.section == 'portfolio' %}
          {% assign portfolio_cls = 'current' %}
        {% endif %}
        <a href="/" class="{{portfolio_cls}}">Portfolio</a>
      </li>
      <!-- <li>
        {% if page.section == 'blog' %}
          {% assign blog_cls = 'current' %}
        {% endif %}
        <a href="/blog" class="{{blog_cls}}">Blog</a>
      </li> -->
      <li>
        {% if page.section == 'about' %}
          {% assign about_cls = 'current' %}
        {% endif %}
        <a href="/about" class="{{about_cls}}">About</a>
      </li>
    </ul>
  </div>

  <div class="nav-lower central-col">
    <h1>
      {{page.title}}
    </h1>
    <p class="subtitle">{{page.subtitle}}{{subtitle}}</p>
    {% if page.subsubtitle %}
    <p class="subsubtitle">{{page.subsubtitle}}</p>
    {% endif %}
  </div>
</div>
<div id="sticky_nav_bg"></div>
